<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="application-name" content="Simple Neural Network">
<meta name="msapplication-tooltip" content="Simple Neural Network">
<meta http-equiv="content-language" content="en">
<meta name="language" content="English,en">
<meta content="no-cache" http-equiv="pragma">
<meta content="no-cache" http-equiv="cache-control">
<meta content="no" http-equiv="imagetoolbar">
<meta content="no" http-equiv="MSThemeCompatible">
<meta content="true" name="MSSmartTagsPreventParsing">
<meta content="2018 Tatjana Bezsazna - All Rights Reserved" name="copyright">
<meta content="All" name="robots">
<meta content="30 days" name="revisit-after">
<meta content="Public" name="rating">
<META NAME="robots" CONTENT="index, follow">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>